<div class="container-user w-100">
    <div class="content-user p-3 mx-auto border border-2 rounded-3">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="form-title">{{ideExpense ? 'Actualizar Datos': 'Nuevo Gasto'}}</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.close()"
        ></button>
      </div>
  
      <form class="mt-4" [formGroup]="formData" (ngSubmit)="fnSubmit()">
        <div class="card p-3 mb-3">
          <legend class="fz-1 form-subtitle">Datos</legend>
          <div class="row justify-content-center align-items-center">
  
            <div class="form-floating mb-3 col-sm-6">
             
              <select
                      class="form-select"
                      aria-label="Default select example"
                      formControlName="type"
                    >
                      <option
                        value="{{ envi.key }}"
                        *ngFor="let envi of typeExpenses"
                      >
                        {{ envi.value }}
                      </option>
                    </select>
              <label for="name" class="ms-1">Tipo</label>
 
            </div>
  
            <div class="form-floating mb-3 col col-sm-6">
              <input
                type="number"
                class="form-control"
                id="name"
                placeholder=""
                formControlName="price"
              />
              <label for="price" class="ms-1">Valor</label>
              <div
                *ngIf="
                  formData.controls['price'].invalid &&
                  (formData.controls['price'].dirty ||
                    formData.controls['price'].touched)
                "
                class="form-text text-danger"
              >
                <div *ngFor="let validation of validMessage.price">
                  <div
                    style="font-size: smaller !important"
                    *ngIf="
                      formData.get('price')?.hasError(validation.type) &&
                      (formData.get('price')?.dirty ||
                        formData.get('price')?.touched)
                    "
                  >
                    {{ validation.message }}
                  </div>
                </div>
              </div>
            
            </div>
  

            <div class="form-floating col-sm-6 ">
              <select class="form-control" id="typePay" formControlName="typePay">
                <option *ngFor="let item of listTypePay" value="{{ item }}">
                  {{ item.charAt(0) + item.slice(1).toLowerCase() }}
                </option>
              </select>
              <label for="typePay" class="ms-1">Tipo Pago</label>
            </div>
            

            <div class="form-floating col-sm-6">
             
              <textarea class="form-control"  formControlName="description"></textarea>
              <label for="description" class="ms-1">Detalles</label>
        
            </div>
          </div>
        </div>
        <div class="text-end mt-3">
          <button
            type="button"
            class="btn btn-secondary me-2"
            (click)="modal.close()"
          >
            CERRAR
          </button>
  
          <input
            type="submit"
            [disabled]="formData.invalid"
            class="btn btn-primary"
            value="{{ideExpense ? 'Actualizar Datos': 'GUARDAR DATOS'}}"
          />
        </div>
      </form>
    </div>
  </div>
  
