@import '../../../../assets/scss/Colors.scss';
.form-subtitle{
    // color: red;
    // border-bottom: 1.5px solid  opacify($color: $color-primary, $amount: 0.8) ;
    margin-bottom: 20px;
    font-weight: $subtitle-weight;
    font-size:  1.1rem;
}

.form-customer{

    position: relative;
}

.label-customer{
    font-size: 14px;
    color: #8d8f90;
    font-weight: 400;
}
.button{

    display: block;
    width: 98%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: none;    
    font-weight: bold;
    font-size: 1.2rem;
    // background-color: $color-primary;

}