/*
    Archivo para definir los colores principales de la aplicacion
*/
$color-primary: #F7BB0E;
$color-secondary: #F00000;
$color-default: #FFFFFF;
$color-resaltado: #29282C;

$color-sidebar: #11101d;

$subtitle-weight: 400;