@import '../../../../assets/scss/Colors.scss';
.form-subtitle{
    // color: red;
    // border-bottom: 1.5px solid  opacify($color: $color-primary, $amount: 0.8) ;
    margin-bottom: 20px;
    font-weight: $subtitle-weight;
    font-size:  1.1rem;
}