<form class="mt-3" [formGroup]="formData" (ngSubmit)="fnSubmit()">
  <div class="card p-3 mb-3">
    <div class="row justify-content-center align-items-center">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="description"
          formControlName="description"
          placeholder="Ingrese descripción o nombre del cliente"
        />
        <label for="description" class="ms-1">Descripci&oacute;n</label>
        <div
          *ngIf="
            formData.controls['description'].invalid &&
            (formData.controls['description'].dirty ||
              formData.controls['description'].touched)
          "
          class="form-text text-danger"
        >
          <!-- Los sms de error para el tipo de datos de valores numeros o precios estan en el objeto value -->
          <div *ngFor="let validation of validMessage.description">
            <div
              style="font-size: smaller !important"
              *ngIf="
                formData.get('description')?.hasError(validation.type) &&
                (formData.get('description')?.dirty ||
                  formData.get('description')?.touched)
              "
            >
              {{ validation.message }}
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="price"
          formControlName="price"
          placeholder="2.00"
        />
        <label for="price" class="form-label">$ Precio</label>
        <div
          *ngIf="
            formData.controls['price'].invalid &&
            (formData.controls['price'].dirty ||
              formData.controls['price'].touched)
          "
          class="form-text text-danger"
        >
          <!-- Los sms de error para el tipo de datos de valores numeros o precios estan en el objeto value -->
          <div *ngFor="let validation of validMessage.value">
            <div
              style="font-size: smaller !important"
              *ngIf="
                formData.get('price')?.hasError(validation.type) &&
                (formData.get('price')?.dirty || formData.get('price')?.touched)
              "
            >
              {{ validation.message }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 form-floating">
        <input
          type="number"
          class="form-control"
          id="count"
          placeholder="1"
          formControlName="count"
        />
        <label for="count" class="form-label"># Personas</label>
        <div
          *ngIf="
            formData.controls['count'].invalid &&
            (formData.controls['count'].dirty ||
              formData.controls['count'].touched)
          "
          class="form-text text-danger"
        >
          <!-- Los sms de error para el tipo de datos de valores numeros o precios estan en el objeto value -->
          <div *ngFor="let validation of validMessage.count">
            <div
              style="font-size: smaller !important"
              *ngIf="
                formData.get('count')?.hasError(validation.type) &&
                (formData.get('count')?.dirty || formData.get('count')?.touched)
              "
            >
              {{ validation.message }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-end mt-3">
    <button
      type="button"
      class="btn btn-secondary me-2"
      (click)="modal.close()"
    >
      CERRAR
    </button>

    <input
      type="submit"
      [disabled]="formData.invalid"
      class="btn btn-primary"
      value="GUARDAR"
    />
  </div>
</form>
