<app-side-bar class="nav-component" [ngClass]="{ close: flagClose, '': !flagClose }" [open]="flagClose"></app-side-bar>

<section class="home-section">

  <app-nav-bar (newItemEvent)="onClickMenu($event)"></app-nav-bar>

  <div class="home-body">
    <div class="home-content">
      <!--    -->
      <div class="d-flex flex-wrap justify-content-between align-item-center mt-3">
        <h4 class="home-subtitle">Administraci&oacute;n</h4>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="navigation">

          <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa-solid fa-house"></i></li>
            <li class="breadcrumb-item"><a [routerLink]="['/']" class="home">Inicio</a></li>
            <li class="breadcrumb-item">></li>
            <li class="breadcrumb-item active" aria-current="page">Administrar usuarios</li>
          </ol>
        </nav>
        
      </div>
      <div style="background-color: white" class="content-main  p-3">

        <button class="btn btn-primary d-flex align-items-center" (click)="openModal()">
          {{typePanel? 'Nuevo Usuario':'Nueva Modalidad' }}
          <!--         
          <i class="fa-solid fa-plus"  *ngIf="!typePanel"></i>
          <i class="bx bx-user-plus"  *ngIf="typePanel"> </i> <span class="ms-1">{{typePanel? 'Nuevo Usuario':'Nueva Modalidad' }}</span> -->
         
        </button>
        <app-group-panel (typePanelChange)="typePanel =$event"></app-group-panel>
      </div>

    </div>
  </div>
</section>
<app-direct-access></app-direct-access>