<div class="profile bg-primary">

    <div class="profile-header mb-3">

        <div class="content-img">

            <img src="../../../../assets/gym.jpeg" alt="Profile Customer" class="profile__img">
        </div>
    </div>

    <div class="profile-body">

        <div class="profile-content">

            <p class="profile__option"> <i class="bx bx-user"></i> <span>Editar Perfil</span></p>
            <p class="profile__option"> <i class="bx bx-home"></i> <span>Enviar mensaje</span></p>
            <p class="profile__option"> <i class="bx bx-user"></i> <span>Crear rutina</span></p>
            <p class="profile__option"> <i class="bx bx-home"></i> <span>2021-10-12</span></p>
        </div>

    </div>
</div>

