<table class="table mt-2">
    <thead class="table-light">
      <tr>
      
        <th scope="col">Nro</th>
        <th scope="col" *ngIf="!reduceColumns">Cliente</th>
        <th scope="col">F. Ingreso
          <span (click)="showColumn = !showColumn" role="button">
            <i class="fa-sharp fa-solid fa-up-right-and-down-left-from-center" *ngIf="showColumn"
                title="Contraer columas"></i>

            <i class="fa-solid fa-arrows-left-right-to-line" *ngIf="!showColumn"
                title="Expandir columna fecha salida"></i>
        </span>
        </th>
        <th scope="col"  *ngIf="showColumn">F. Salida</th>
        <th scope="col">Usuario</th>
        <th scope="col" class="text-end"  *ngIf="isAdmin" >Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of listData; index as i">
        <td scope="row"> {{i|calcIndexList:pageRender}} </td>
        <td *ngIf="!reduceColumns"> {{item.customer}} </td>
        <td> {{item.dateInto}} </td>

        <td class="d-flex"  *ngIf="showColumn">  
          <input type="datetime-local" value="{{item.dateLeave}}"  #valueDate class="form-control" style="max-width: 180px;"  />
          <span class="btn btn bx bx-edit" (click)="updateDateLeave(item.ide,  valueDate.value)"  title="Actualizar fecha de salida"></span>
        </td>
        <td> {{item.user  |  trimNameUser}} </td>

        <td class="action text-end">
       
          <span *ngIf="isAdmin"   class="bg-danger p-1 rounded" role="button" (click)="delete(item.ide)">
            <i class="fa-solid fa-x"></i>
          </span>
        </td>
      </tr>


    </tbody>
    
  </table>
  
  
<app-paginator [listData]="listData"  
[pageRender]="pageRender" 
[sumaTotalElements] ="sumaTotalElements"
(eventNumberPage)="changePage($event)"></app-paginator>

