@import '../../../../../assets/scss/Colors.scss';


.container-login  {
    min-height: 100vh;
    background-image: url('../../../../../assets/gym.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
   
    // background-color: red;
}

// .container-login:before{
//     content: "";
//     width: 100%;
//     min-height: 100%;
//     background-color: black;
//     position: fixed;
//     opacity: 0.2;
    
    
// }

.form-title{
    font-size: 1.90rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: $color-resaltado;
    text-align: center;
    &--modify {
        color: $color-primary;
    
    }
}
.content-login {
    height: 100%;
    z-index:1 ;
    background-color:  $color-default;
    border-radius: 5%;
    opacity: 0.9;


}
.button{

    display: block;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border: none;    
    font-weight: bold;
    font-size: 1.2rem;
    background-color: $color-primary;

}

.pointer{
    cursor: pointer;
}