
<app-side-bar class="nav-component" [ngClass]="{ close: flagClose, '': !flagClose }" [open]="flagClose"></app-side-bar>

<section class="home-section">
  <!-- <app-navbar (newItemEvent)="onClickMenu($event)" ></app-navbar> -->
  <app-nav-bar (newItemEvent)="onClickMenu($event)"></app-nav-bar>

  <div class="home-body mt-3">
    <div class="home-content p-4 border border-2">
      <!--    -->
      <div class="d-flex flex-wrap justify-content-between align-item-center">
        <h3 class="home-subtitle">Membresias</h3>
      </div>
      <app-filter-attendance ></app-filter-attendance>

      <app-list-inscription  ></app-list-inscription>

    </div>
  </div>
</section>

<app-direct-access></app-direct-access>