<div class="container-user w-100">
  <div class="content-user p-3 mx-auto border border-2 rounded-3">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="form-title">{{ getTitleForm()}} </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
    </div>

    <form class="mt-2" [formGroup]="formData" (ngSubmit)="fnSubmit()">
      <div class="card p-3 mb-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <!-- <legend class="fz-1 form-subtitle">Datos Factura</legend> -->
          <span class="fz-1 form-subtitle">Datos Factura</span>
          <div class="flex-grow-1 text-end values">
            <span class="me-3 value__balance">Total:
              <span class="text-warning">{{
                formData.value["total"]
                }}</span></span>
            <span class="me-3 value__balance">Cobrado:
              <span class="text-warning">{{
                formData.value["pay"]
                }}</span></span>
            <span class="value__total">Saldo:
              <span class="text-success">{{
                formData.value["balance"]
                }}</span></span>
          </div>
        </div>

        <div class="row">
          <!-- NAME -->
          <div class="form-floating mb-3 col-sm-7">
            <input type="text" class="form-control" id="name" placeholder="" formControlName="name" #childName />
            <label for="name" class="ms-1">Nombres</label>
            <div *ngIf="
                formData.controls['name'].invalid &&
                (formData.controls['name'].dirty ||
                  formData.controls['name'].touched)
              " class="form-text text-danger">
              <div *ngFor="let validation of validMessage.name">
                <div style="font-size: smaller !important" *ngIf="
                    formData.get('name')?.hasError(validation.type) &&
                    (formData.get('name')?.dirty ||
                      formData.get('name')?.touched)
                  ">
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>

          <!-- Modalidad -->
          <div class="form-floating mb-3 col-sm-3">
            <select class="form-control" id="modality" formControlName="modality">
              <option *ngFor="let item of listModalities" value="{{ item.ide }}">
                {{ item.price<1 ? "" : "$ " + item.price + ": " }} {{ item.name }} </option>
            </select>
            <label for="modality" class="ms-1">Modalidad</label>
            <div *ngIf="
                formData.controls['modality'].invalid &&
                (formData.controls['modality'].dirty ||
                  formData.controls['modality'].touched)
              " class="form-text text-danger">
              <div *ngFor="let validation of validMessage.modality">
                <div style="font-size: smaller !important" *ngIf="
                    formData.get('modality')?.hasError(validation.type) &&
                    (formData.get('modality')?.dirty ||
                      formData.get('modality')?.touched)
                  ">
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>

          <!-- PRICE -->
          <div class="form-floating mb-3 col-sm-2">
            <input type="number" class="form-control" id="price" placeholder="" formControlName="price" />
            <label for="price" class="ms-1">Precio Real</label>
            <div *ngIf="
                formData.controls['price'].invalid &&
                (formData.controls['price'].dirty ||
                  formData.controls['price'].touched)
              " class="form-text text-danger">
              <div *ngFor="let validation of validMessage.price">
                <div style="font-size: smaller !important" *ngIf="
                    formData.get('price')?.hasError(validation.type) &&
                    (formData.get('price')?.dirty ||
                      formData.get('price')?.touched)
                  ">
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>

          <!-- JORNADA    oculto -->
          <!-- <div class="form-floating mb-3 col-sm-3 d-none">
            <input
              type="text"
              class="form-control"
              id="workDay"
              placeholder=""
              formControlName="workDay"
            />
            <label for="workDay" class="ms-1">Jornada</label>
            <div
              *ngIf="
                formData.controls['workDay'].invalid &&
                (formData.controls['workDay'].dirty ||
                  formData.controls['workDay'].touched)
              "
              class="form-text text-danger"
            >
              <div *ngFor="let validation of validMessage.workDay">
                <div
                  style="font-size: smaller !important"
                  *ngIf="
                    formData.get('workDay')?.hasError(validation.type) &&
                    (formData.get('workDay')?.dirty ||
                      formData.get('workDay')?.touched)
                  "
                >
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div> -->

          <!--  BALANCE   OCULTO-->
          <div class="form-floating mb-3 col-sm-4 d-none">
            <input type="text" class="form-control" id="balance" placeholder="" formControlName="balance" />
            <label for="balance" class="ms-1">Deuda </label>
            <div *ngIf="
                formData.controls['balance'].invalid &&
                (formData.controls['balance'].dirty ||
                  formData.controls['balance'].touched)
              " class="form-text text-danger">
              <div *ngFor="let validation of validMessage.balance">
                <div style="font-size: smaller !important" *ngIf="
                    formData.get('balance')?.hasError(validation.type) &&
                    (formData.get('balance')?.dirty ||
                      formData.get('balance')?.touched)
                  ">
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>

          <!--  TIPO DE PAGO  -->
          <div class="form-floating mb-3 col-sm-2">
            <select class="form-control" id="typePay" formControlName="typePay">
              <option *ngFor="let item of listTypePay" value="{{ item }}">
                {{ item.charAt(0) + item.slice(1).toLowerCase() }}
              </option>
            </select>
            <label for="typePay" class="ms-1">Tipo Pago</label>
            <div *ngIf="
                formData.controls['typePay'].invalid &&
                (formData.controls['typePay'].dirty ||
                  formData.controls['typePay'].touched)
              " class="form-text text-danger">
              <div *ngFor="let validation of validMessage.typePay">
                <div style="font-size: smaller !important" *ngIf="
                    formData.get('typePay')?.hasError(validation.type) &&
                    (formData.get('typePay')?.dirty ||
                      formData.get('typePay')?.touched)
                  ">
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>

          <!-- FECHA INICIO -->

          <div class="form-floating mb-3 col-sm-3">
            <input type="date" class="form-control" id="dateBegin" placeholder="" formControlName="dateBegin" />
            <label for="dateBegin" class="ms-1">Fecha inicio</label>
            <div *ngIf="
                formData.controls['dateBegin'].invalid &&
                (formData.controls['dateBegin'].dirty ||
                  formData.controls['dateBegin'].touched)
              " class="form-text text-danger">
              <div *ngFor="let validation of validMessage.dateBegin">
                <div style="font-size: smaller !important" *ngIf="
                    formData.get('dateBegin')?.hasError(validation.type) &&
                    (formData.get('dateBegin')?.dirty ||
                      formData.get('dateBegin')?.touched)
                  ">
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>

          <!-- FECHA FIN -->
          <div class="form-floating mb-3 col-sm-3">
            <input type="date" class="form-control" id="dateFinalize" placeholder="" formControlName="dateFinalize" />

            <label for="dateFinalize" class="ms-1">Fecha Fin</label>

            <!-- VALIDACION FECHAS MENOR   A LA ACTUAL-->
            <div *ngIf="
                formData.controls['dateFinalize'].invalid &&
                (formData.controls['dateFinalize'].dirty ||
                  formData.controls['dateFinalize'].touched)
              " class="form-text text-danger">
              <div *ngFor="let validation of validMessage.dateFinalize">
                <div style="font-size: smaller !important" *ngIf="
                    formData.get('dateFinalize')?.hasError(validation.type) &&
                    (formData.get('dateFinalize')?.dirty ||
                      formData.get('dateFinalize')?.touched)
                  ">
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3 col-sm-2">
            <div class="content-input">
              <div class="d-flex justify-content-sm-between align-items-center">
                <div class="d-flex align-items-center me-2">
                  <input type="radio" class="me-1" id="{{ typeInscriptions.MONTH }}"
                    value="{{ typeInscriptions.MONTH }}" formControlName="typeInscription" />
                  <label style="font-size: 12px" for="{{ typeInscriptions.MONTH }}">{{ typeInscriptions.MONTH.charAt(0)
                    }}
                  </label>
                </div>
                <div class="d-flex align-items-center">
                  <input type="radio" class="me-1" id="{{ typeInscriptions.DATE }}" value="{{ typeInscriptions.DATE }}"
                    formControlName="typeInscription" />
                  <label style="font-size: 12px" for="{{ typeInscriptions.DATE }}">{{ typeInscriptions.DATE.charAt(0)
                    }}</label>
                </div>
              </div>
              <input type="number" class="form-control" id="numberMonth" placeholder="" formControlName="numberMonth" />
            </div>

            <!-- MESES -->
            <!-- <div class="form-floating">
              <input
                type="number"
                class="form-control"
                id="numberMonth"
                placeholder=""
                formControlName="numberMonth"
              />

              <div
                *ngIf="
                  formData.controls['numberMonth'].invalid &&
                  (formData.controls['numberMonth'].dirty ||
                    formData.controls['numberMonth'].touched)
                "
                class="form-text text-danger"
              >
                <div *ngFor="let validation of validMessage.numberMonth">
                  <div
                    style="font-size: smaller !important"
                    *ngIf="
                      formData.get('numberMonth')?.hasError(validation.type) &&
                      (formData.get('numberMonth')?.dirty ||
                        formData.get('numberMonth')?.touched)
                    "
                  >
                    {{ validation.message }}
                  </div>
                </div>
              </div>

            </div> -->
          </div>
          <!-- VALOR PAGADO -->
          <div class="form-floating mb-3 col-sm-2">
            <input type="number" class="form-control" id="pay" placeholder="" formControlName="pay" #childPay />
            <label for="pay" class="ms-1">Pago</label>
            <div *ngIf="
                formData.controls['pay'].invalid &&
                (formData.controls['pay'].dirty ||
                  formData.controls['pay'].touched)
              " class="form-text text-danger">
              <div *ngFor="let validation of validMessage.pay">
                <div style="font-size: smaller !important" *ngIf="
                    formData.get('pay')?.hasError(validation.type) &&
                    (formData.get('pay')?.dirty || formData.get('pay')?.touched)
                  ">
                  {{ validation.message }}
                </div>
              </div>

              <div style="font-size: smaller !important" *ngIf="
                  formData.get('pay')?.hasError('errorPay') &&
                  (formData.get('pay')?.dirty || formData.get('pay')?.touched)
                ">
                {{ formData.get("pay")?.getError("errorPay") }}
              </div>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="showPanelInfoPerson()" class="accordion mb-3" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Datos Personales
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="form-floating mb-3 col-sm-6">
                  <input type="text" class="form-control" id="dni" placeholder="" formControlName="dni" />
                  <label for="dni" class="ms-1">C&eacute;dula</label>

                  <div *ngIf="
                      formData.controls['dni'].invalid &&
                      (formData.controls['dni'].dirty ||
                        formData.controls['dni'].touched)
                    " class="form-text text-danger">
                    <div *ngFor="let validation of validMessage.dni">
                      <div style="font-size: smaller !important" *ngIf="
                          formData.get('dni')?.hasError(validation.type) &&
                          (formData.get('dni')?.dirty ||
                            formData.get('dni')?.touched)
                        ">
                        {{ validation.message }}
                      </div>
                    </div>

                    <div style="font-size: smaller !important" *ngIf="
                        formData.get('dni')?.hasError('fieldExists') &&
                        (formData.get('dni')?.dirty ||
                          formData.get('dni')?.touched)
                      ">
                      {{ formData.get("dni")?.getError("fieldExists") }}
                    </div>

                    <div style="font-size: smaller !important" *ngIf="
                        formData.get('dni')?.hasError('incorrectDni') &&
                        (formData.get('dni')?.dirty ||
                          formData.get('dni')?.touched)
                      ">
                      {{ formData.get("dni")?.getError("incorrectDni") }}
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3 col-sm-6">
                  <input type="email" class="form-control" id="email" placeholder="" formControlName="email" />
                  <label for="email" class="ms-1">Email</label>
                  <div *ngIf="
                      formData.controls['email'].invalid &&
                      (formData.controls['email'].dirty ||
                        formData.controls['email'].touched)
                    " class="form-text text-danger">
                    <div *ngFor="let validation of validMessage.email">
                      <div style="font-size: smaller !important" *ngIf="
                          formData.get('email')?.hasError(validation.type) &&
                          (formData.get('email')?.dirty ||
                            formData.get('email')?.touched)
                        ">
                        {{ validation.message }}
                      </div>
                    </div>


                    <div style="font-size: smaller !important" *ngIf="
                        formData.get('email')?.hasError('fieldExists') &&
                        (formData.get('email')?.dirty ||
                          formData.get('email')?.touched)
                      ">
                      {{ formData.get("email")?.getError("fieldExists") }}
                    </div>

                  </div>
                </div>

                <div class="form-floating mb-3 col-sm-6">
                  <input type="text" class="form-control" id="address" placeholder="" formControlName="address" />
                  <label for="address" class="ms-1">Direcci&oacute;n</label>

                  <div *ngIf="
                      formData.controls['address'].invalid &&
                      (formData.controls['address'].dirty ||
                        formData.controls['address'].touched)
                    " class="form-text text-danger">
                    <div *ngFor="let validation of validMessage.address">
                      <div style="font-size: smaller !important" *ngIf="
                          formData.get('address')?.hasError(validation.type) &&
                          (formData.get('address')?.dirty ||
                            formData.get('address')?.touched)
                        ">
                        {{ validation.message }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3 col-sm-6">
                  <input type="text" class="form-control" id="phone" placeholder="" formControlName="phone" />
                  <label for="phone" class="ms-1">Tel&eacute;fono</label>

                  <div *ngIf="
                      formData.controls['phone'].invalid &&
                      (formData.controls['phone'].dirty ||
                        formData.controls['phone'].touched)
                    " class="form-text text-danger">
                    <div *ngFor="let validation of validMessage.phone">
                      <div style="font-size: smaller !important" *ngIf="
                          formData.get('phone')?.hasError(validation.type) &&
                          (formData.get('phone')?.dirty ||
                            formData.get('phone')?.touched)
                        ">
                        {{ validation.message }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-3 col-sm-6">
                  <div class="form-control pb-0 pt-0 form-customer">
                    <label class="label-customer">Genero</label>

                    <div class="d-flex mt-1">
                      <div class="form-check me-3">
                        <input class="form-check-input" type="radio" formControlName="genero" value="M" id="man" />
                        <label class="form-check-label" for="man"> M </label>
                      </div>
                      <div class="form-check me-3">
                        <input class="form-check-input" type="radio" formControlName="genero" value="F" id="women" />
                        <label class="form-check-label" for="women"> F </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" formControlName="genero" id="na" value="N"
                          checked />
                        <label class="form-check-label" for="na"> NA </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3 col-sm-6">
                  <input type="date" class="form-control" id="born" placeholder="" formControlName="born" />
                  <label for="born" class="ms-1">Fecha Nacimiento</label>

                  <div *ngIf="
                      formData.controls['born'].invalid &&
                      (formData.controls['born'].dirty ||
                        formData.controls['born'].touched)
                    " class="form-text text-danger">
                    <div *ngFor="let validation of validMessage.born">
                      <div style="font-size: smaller !important" *ngIf="
                          formData.get('born')?.hasError(validation.type) &&
                          (formData.get('born')?.dirty ||
                            formData.get('born')?.touched)
                        ">
                        {{ validation.message }}
                      </div>
                    </div>

                    <!-- Message dinamico -->
                    <div style="font-size: smaller !important" *ngIf="
                        formData.get('born')?.hasError('erroBorn') &&
                        (formData.get('born')?.dirty ||
                          formData.get('born')?.touched)
                      ">
                      {{ formData.get("born")?.getError("erroBorn") }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ***********************************  -->
      <div class="accordion" id="accordionControl">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingControl">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseControl" aria-expanded="false" aria-controls="collapseTwo">
              Datos Control
            </button>
          </h2>
          <div id="collapseControl" class="accordion-collapse collapse" aria-labelledby="headingControl"
            data-bs-parent="#accordionControl">
            <div class="accordion-body" formGroupName="evolution">
              <div class="row">
                <div class="form-floating mb-3 col-sm-6">
                  <input type="number" class="form-control" id="weight" placeholder="" formControlName="weight" />
                  <label for="weight" class="ms-1">Peso(Kg)</label>

                  <div *ngIf="
                      formData.get('evolution.weight')?.invalid &&
                      ( formData.get('evolution.weight')?.dirty ||
                      formData.get('evolution.weight')?.touched)
                    " class="form-text text-danger">
                    <div *ngFor="let validation of validMessage.weight">
                      <div style="font-size: smaller !important" *ngIf="
                          formData.get('evolution.weight')?.hasError(validation.type) &&
                          (formData.get('evolution.weight')?.dirty ||
                            formData.get('evolution.weight')?.touched)
                        ">
                        {{ validation.message }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-floating mb-3 col-sm-6">
                  <input type="number" class="form-control" id="height" placeholder="" formControlName="height" />
                  <label for="height" class="ms-1">Estatura (cm)</label>

                  <div *ngIf="
                    formData.get('evolution.height')?.invalid &&
                      (formData.get('evolution.height')?.dirty ||
                      formData.get('evolution.height')?.touched)
                    " class="form-text text-danger">
                    <!-- <div *ngFor="let validation of validMessage.description">
                      <div
                        style="font-size: smaller !important"
                        *ngIf="
                          formData
                            .get('description')
                            ?.hasError(validation.type) &&
                          (formData.get('description')?.dirty ||
                            formData.get('description')?.touched)
                        "
                      >
                        {{ validation.message }}
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-3"
  
      [ngClass]="{ 'd-flex': true,  'justify-content-between': showBtnReport() , 'justify-content-end': !showBtnReport() }"
    >
        <button *ngIf="showBtnReport()" type="button" class="btn btn-danger"
           (click)="generateReport()">
          REPORTE
        </button>

        <div>
          <button type="button" class="btn btn-secondary me-2" (click)="modal.close()">
            CERRAR
          </button>
          <input *ngIf="operationForm.write" type="submit" [disabled]="formData.invalid" class="btn btn-primary"
            value="GUARDAR" />

        </div>


      </div>
    </form>
  </div>
</div>