<table class="table mt-3">
    <thead class="table-light">
      <tr>
      
        <th scope="col">Nro</th>
        <th scope="col">Descripci&oacute;n</th>
        <th scope="col">Fecha</th>
        <th scope="col"># Personas</th>
        <th scope="col">T. Pago</th>
        <th scope="col">Precio</th>
        <th scope="col">Total</th>
        <!-- <th scope="col">Usuario</th> -->

        <th scope="col" class="text-end">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData; index as i">
        <td scope="row"> {{i| calcIndexList:pageRender}} </td>
        <td>{{item.description}}</td>
        <td>{{item.dateCreate}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.typePay.substring(0,1)}}</td>
        <td>{{item.price}}</td>
        <td>{{item?.total}}</td>
        <!-- <td>{{ (item.user || "") | trimNameUser }}</td> -->
        <td class="action text-end">
          <span class="bg-warning p-1 rounded-start" role="button" (click)="edit(item.ide)"  title="Editar Diario">
            <i class="fa-solid fa-pen"></i>
          </span>
  
          <span  *ngIf="isAdmin"  class="bg-danger p-1 rounded-end"  (click)="delete(item.ide)" role="button" title="Eliminar Diario">
            <i class="fa-solid fa-x"></i>
          </span>        
        </td>
      </tr>    
     
    </tbody>
  </table>
  
  
<app-paginator [listData]="listData"  
[pageRender]="pageRender" 
[sumaTotalElements] ="sumaTotalElements"
(eventNumberPage)="changePage($event)"></app-paginator>

