<div>

  <form class="row justify-content-between align-items-center mt-4 border py-3" [formGroup]="formData">
    <div class="d-flex   align-items-center col">
      <div class="d-flex  align-items-center">
        <span> Mostrar</span>
        <select class="form-select mx-3" style="max-width: 100px" formControlName="size">
          <option value="5" selected>5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>

      <div class="d-flex align-items-center">
        <input type="date" class="form-control" formControlName="dateBegin" />
        <span class="mx-2">Hasta</span>
        <input type="date" class="form-control" formControlName="dateEnd" />
      </div>

      <div class="ms-auto">
        <select class="form-select" formControlName="typeUser">
          <option value="all" selected>Todos los usuarios</option>
          <option value="me">Solo mis registros</option>
        </select>
      </div>
    </div>

  </form>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">F. Ingreso</th>
        <th scope="col">F. Salida</th>
        <th scope="col">Usuario</th>
        <th scope="col" class="text-end">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData; index as i">
        <td scope="row"> {{i|calcIndexList:pageRender}} </td>
        <td> {{item.dateInto}} </td>

        <td class="d-flex">  
          <input type="datetime-local" value="{{item.dateLeave}}"  #valueDate class="form-control" style="max-width: 180px;"  />
          <span class="btn btn bx bx-edit" (click)="updateDateLeave(item.ide,  valueDate.value)" >icon</span>
        </td>
        <td> {{item.user  |  trimNameUser}} </td>

        <td class="action text-end">
          <span class="bg-warning p-1 me-1 rounded" role="button">
            <i class="bx bx-edit"></i>
          </span>

          <span class="bg-danger p-1 me-1 rounded" role="button" (click)="delete(item.ide)">
            <i class="bx bx-trash"></i>
          </span>
        </td>
      </tr>


    </tbody>
  </table>

</div>


<div class="alert alert-warning" *ngIf="listData && listData.length<1">
  <p class="text-center">No hay datos que mostrar</p>

</div>

<div class="mt-5 d-flex justify-content-between align-items-center">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <p *ngIf="pageRender" class="fw-bolder fs-6">
      Mostrando {{ sumaTotalElements }} de {{ pageRender.totalElements }}
    </p>
  </div>

  <nav class="flex-grow-1">
    <ul *ngIf="pageRender" class="pagination justify-content-end">
      <li class="page-item" [ngClass]="{ disabled: pageRender.first, 'page-item': true }">
        <span class="page-link" *ngIf="pageRender.first">Primera</span>
        <span class="page-link" *ngIf="!pageRender.first" (click)="changePage(0)" role="button">Primera</span>
      </li>

      <li class="page-item" [ngClass]="{ disabled: !pageRender.hasPrevious, 'page-item': true }">
        <span class="page-link" *ngIf="!pageRender.hasPrevious">&laquo;</span>
        <span class="page-link" *ngIf="pageRender.hasPrevious" role="button"
          (click)="changePage(pageRender.currentPage - 2)">&laquo;</span>
      </li>
      <li class="page-item" *ngFor="let item of pageRender.pagesItem"
        [ngClass]="{ active: item.current, 'page-item': true }">
        <span class="page-link" *ngIf="item.current"> {{ item.number }} </span>
        <span class="page-link" role="button" *ngIf="!item.current" (click)="changePage(item.number - 1)">
          {{ item.number }}
        </span>
      </li>

      <li class="page-item" [ngClass]="{ disabled: !pageRender.hasNext, 'page-item': true }">
        <span class="page-link" *ngIf="!pageRender.hasNext">&raquo;</span>
        <span class="page-link" *ngIf="pageRender.hasNext" role="button"
          (click)="changePage(pageRender.currentPage)">&raquo;</span>
      </li>

      <li class="page-item" [ngClass]="{ disabled: pageRender.last, 'page-item': true }">
        <span class="page-link" *ngIf="pageRender.last">Última</span>
        <span class="page-link" *ngIf="!pageRender.last" role="button"
          (click)="changePage(pageRender.totalPages - 1)">Última</span>
      </li>
    </ul>
  </nav>
</div>