.home-header {
    padding: 0 20px;
    height: 60px;;
  }
  .home-header .profile {
    height: 45px;
    width: 45px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
    // object-position:  ;
  }
  
  // .home-header {
  
  //   height: 60px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   background-color: $color-sidebar;
  //   color: #FFF;
  // }
  
  .home-header .bx-menu,
  .home-header .text {
    color: #11101d;
    font-size: 35px;
  }
  
  .home-header .bx-menu {
    margin-right: 15px;
    cursor: pointer;
  }
  
  .home-header .text {
    font-size: 26px;
    font-weight: 600;
  }
  