<div class="home-header d-flex justify-content-between align-items-center px-3">
    <div class="d-flex align-items-center">
      <i class="bx bx-menu" (click)="onClickMenu()"></i>
      <!-- <span class="text">ENER GYM</span> -->
    </div>

    <div class="position-relative p-1">
      <div>
        <img src="../.././../../../assets/img/icono_profile.png" alt class="profile" />
        <span class="text-user">{{username}}</span>

        <label for="check" class="ms-2" style="cursor: pointer;"><i class="bx bxs-chevron-down arrow"></i></label>
        
      </div>
      <div>
      
        <input type="checkbox" id="check"    class="show-profile"  style="display: none" />
        <div class="data-profile">
          <ul class="">
            <li [routerLink]="['/profile']"> <i class="fa-solid fa-user"></i> Perfil</li>
            <li (click)  ="logOut()"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesion</li>
          </ul>
        </div>
      </div>
    
    </div>
  </div>

