<app-side-bar class="nav-component" [ngClass]="{ close: flagClose, '': !flagClose }" [open]="flagClose">
</app-side-bar>


<section class="home-section">

  <app-nav-bar (newItemEvent)="onClickMenu($event)"></app-nav-bar>

  <div class="home-body">
    <div class="home-content p-3 border border-2">
      <!--    -->
      <div class="d-flex flex-wrap justify-content-between align-item-center">
        <h4 class="home-subtitle">Ejercicios</h4>
        <button class="btn btn-primary d-flex align-items-center" (click)="openModal()">
          <!-- <i class="bx bx-user-plus" style="color: royalblue"> </i> -->
          <i class="fa-solid fa-dumbbell" style="color: white"></i>
          <span class="ms-1">Nuevo Ejercicio</span>
        </button>
      </div>

   

      <app-list-exercises></app-list-exercises>

    </div>
  </div>
</section>
<app-direct-access></app-direct-access>