@import '../../../../../assets/scss/Colors.scss';

.form-subtitle{
    // color: red;
    // border-bottom: 1.5px solid  opacify($color: $color-primary, $amount: 0.8) ;
    margin-bottom: 20px;
    font-weight: $subtitle-weight;
    font-size:  1.1rem;
}

.content-img {
  background-color: green !important;
  position: relative;
  max-width: 250px;
  display: inline-block;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    &--hide{
      display: none;
      // visibility: hidden;
      // z-index: -10000;

    }
  }
}

label[for="fileInput"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 4px;
}

.custom-file-upload i {
  margin-right: 8px;
}
