<div class="container-user">
  <div class="content-user card mx-auto border rounded-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="form-title"> {{idExercise? 'Actualizar': 'Nuevo'}} Ejercicio</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
    </div>
    

    <form class="mt-2 card-body" [formGroup]="formData" (ngSubmit)="fnSubmit()">

      
      
      <div class="card p-2 mb-3">
        <div class="d-flex justify-content-between">

          <legend class="fz-1 form-subtitle">Datos</legend>
        </div>
        <div class="row justify-content-center align-items-center">

          <div class="col-sm-5 mb-3 text-center">

            <div class="content-img">

              <!-- Para eliminar la imagen seleccionar, pero solo debe mostrarse cuando se seleccionar la imagen -->
              <!-- <span class="delete" *ngIf="selectedFileUrl" (click)="deleteImg()">X</span> -->
              <!-- <div *ngIf="selectedFileUrl"> -->
              <img [src]="selectedFileUrl"
                style="height: 80px; height: 80px;">
              <!-- </div> -->
            </div>

            <div>
              <label for="image" class="btn btn-primary me-1"><i class="fa-sharp fa-regular fa-plus"></i>Seleccionar</label>

              <button   type="button"  (click)="deleteImg()" 
                       class="btn btn-danger"
                      [disabled]="urlImgDefault==selectedFileUrl"
                      >

                     <i class="fa-solid fa-trash"></i>
              
              </button>
              
                <input id="image" type="file" class="d-none" (change)="onFileSelected($event)" accept="image/*"
                style="visibility: hidden;" formControlName="url">
            </div>
          </div>

          <div class="form-floating mb-3 col">
            <input type="text" class="form-control" id="name" placeholder="" formControlName="name" />
            <label for="name" class="ms-1">Nombre</label>
            <div *ngIf="
                  formData.controls['name'].invalid &&
                  (formData.controls['name'].dirty ||
                    formData.controls['name'].touched)
                " class="form-text text-danger">
              <div *ngFor="let validation of validMessage.name">
                <div style="font-size: smaller !important" *ngIf="
                      formData.get('name')?.hasError(validation.type) &&
                      (formData.get('name')?.dirty ||
                        formData.get('name')?.touched)
                    ">
                  {{ validation.message }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" (click)="onAccordion()">
              {{ flagAccordion ? "Ver más detalles" : "Ver menos detalles" }}
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">


                <div class="form-floating col-sm-6">
                  <select class="form-control" id="level" formControlName="level">
                    <option value="No asignado">Ninguno</option>
                    <option value="{{ envi.key }}" *ngFor="let envi of mapLevel">
                      {{ envi.value }}
                    </option>
                  </select>
                  <label for="level" class="ms-1">Seleccione Nivel</label>
                </div>

                <div class="form-floating col-sm-6">
                  <select class="form-control" id="categories" formControlName="categories">
                    <option value="">Ninguno</option>

                    <option value="{{ envi.ide }}" *ngFor="let envi of listCategories">
                      {{ envi.name }}
                    </option>
                  </select>
                  <label for="categories" class="ms-1">Seleccione Categoria</label>
                </div>
                <div class="form-floating mt-3">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                    formControlName="description" rows="4"></textarea>
                  <label for="floatingTextarea" class="ms-1">Descripci&oacute;n</label>

                  <div *ngIf="
                        formData.controls['description'].invalid &&
                        (formData.controls['description'].dirty ||
                          formData.controls['description'].touched)
                      " class="form-text text-danger">
                    <div *ngFor="let validation of validMessage.description">
                      <div style="font-size: smaller !important" *ngIf="
                            formData
                              .get('description')
                              ?.hasError(validation.type) &&
                            (formData.get('description')?.dirty ||
                              formData.get('description')?.touched)
                          ">
                        {{ validation.message }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-end mt-3">
        <button type="button" class="btn btn-secondary me-2" (click)="modal.close()">
          <i class="fa-solid fa-ban"></i> CANCELAR
        </button>

        <!-- <input type="submit" [disabled]="formData.invalid" class="btn btn-primary" value="GUARDAR" /> -->
        <button type="submit" [disabled]="formData.invalid" class="btn btn-primary">

          <i class="fa-solid fa-floppy-disk"></i> GUARDAR</button>
      </div>
    </form>
  </div>
</div>