<div class="container-login  p-2 d-flex justify-content-center align-items-center">
  <div class="content-login p-3 rounded">
    <h2 class="form-title">GIMNASIO - CROSSFIT</h2>
    <h2 class="form-title form-title--modify">ENER GYM</h2>
    <form class="mt-4">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="cedula"
          placeholder="name@example.com"
        />
        <label for="cedula">C&eacute;dula</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
        <label for="password">Contraseña</label>
      </div>

      <div class="">
    
          <button type="submit" class="btn btn-primary button">Log In</button>
      </div>
    </form>
  </div>
</div>
