<table class="table mt-3">
    <thead class="table-light">
      <tr>
        <th scope="col">Nro</th>
        <th scope="col" >Nombre</th>
        <th scope="col" >Descripci&oacute;n</th>
        <th scope="col"># Ejercicios</th>
        <th scope="col" class="text-end">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData; index as i">
        <td > {{i| calcIndexList:pageRender}} </td>
        <td >{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.numberExercise}}</td>
       
        <td class="action text-end">
          <span class="bg-warning p-1 me-1 rounded" role="button" >
            <i class="bx bx-edit" (click)="edit(item.ide)" ></i>
          </span>
  
          <span  *ngIf="isAdmin" class="bg-danger p-1 me-1 rounded" role="button">
            <i class="bx bx-trash" (click)="delete(item.ide)" ></i>
          </span>
  
          <!-- <span class="bg-info p-1  rounded" role="button">
            <i class="bx bx-info-circle"></i>
          </span> -->
  
          <!-- <span>info</span> -->
        </td>
      </tr>
  
     
    </tbody>
  </table>
  
  <app-paginator [listData]="listData"  
               [pageRender]="pageRender" 
               [sumaTotalElements] ="sumaTotalElements"
               (eventNumberPage)="changePage($event)"></app-paginator>

