@use '../../../../../assets/scss/style_general_table';
@import '../../../../../assets/scss/SizeDefault.scss';
.status {

  display: inline-block;
  padding: 5px;
  width: 100px;
  text-align: center;
}

.active {
  background-color: green;
}

.inactive {
  background-color: red;
}
.pagination h5{
  font-size: $text-size;
}