<app-side-bar class="nav-component"
[ngClass]="{ close: flagClose, '': !flagClose }"
[open]="flagClose">

</app-side-bar>

<section class="home-section">
  
  <app-nav-bar (newItemEvent)="onClickMenu($event)"></app-nav-bar>
  
    <div class="home-body mt-3">
      <div class="home-content p-4 border border-2">
        <!--    -->
        <div class="d-flex flex-wrap justify-content-between align-item-center">
          <h3 class="home-subtitle">Gastos  $ {{sumTotalPriceByPage?sumTotalPriceByPage: ("0.00")}} de <span>$ {{sumTotalPrice}}</span>  </h3>
          <button
            class="btn btn-outline-primary d-flex align-items-center"
            type="button"
            (click)="openModal()"

          >
            <i class="bx bx-user-plus" style="color: royalblue"> </i>
            <span class="ms-1">Nuevo Gasto</span>
          </button>
        </div>
  
          <!--  -->
     
          <form class="row justify-content-between align-items-center mt-4 border py-3" [formGroup]="formData">
            <div class="d-flex align-items-center col">
    
              <div class="d-flex  align-items-center">
                <span> Mostrar</span>
                <select class="form-select mx-3" style="max-width: 100px" formControlName="size">
                  <option value="5" selected>5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                </select>
              </div>
    
              <div class="d-flex align-items-center">
                <input type="date" class="form-control" formControlName="dateBegin" />
                <span class="mx-2">Hasta</span>
                <input type="date" class="form-control" formControlName="dateEnd" />
              </div>
    
  
              <div class="ms-auto d-flex ">
                <select class="form-select" formControlName="typeUser">
                  <option value="all" selected>Todos los usuarios</option>
                  <option value="me">Solo mis registros</option>
                </select>
                <select class="form-select" formControlName="typePay">
                  <option value="" selected>Todos</option>
                  <option value="EFECTIVO" selected>Efectivo (E)</option>
                  <option value="TRANSFERENCIA">Transferencia (T)</option>
                </select>

                
              <select
              class="form-select"
              aria-label="Default select example"
              formControlName="type"
            >
              <option
                value="{{ envi.key }}"
                *ngFor="let envi of typeExpenses"
              >
                {{ envi.value }}
              </option>
            </select>

                
              </div>
              <div class="col-md-4 mt-3 mt-md-0 ms-auto">
                <input type="search" placeholder="Buscar descripción ..." formControlName="valueSearch"
                  class="form-control col-md-2" />
              </div>
            </div>
    
          </form>
    
  
      <app-list-expenses  (sumaTotalByPage)="sumTotalPriceByPage = $event"></app-list-expenses>
      </div>
    </div>
  </section>

  <app-direct-access></app-direct-access>