<app-side-bar class="nav-component" [ngClass]="{ close: flagClose, '': !flagClose }" [open]="flagClose">

</app-side-bar>

<section class="home-section">

  <app-nav-bar (newItemEvent)="onClickMenu($event)"></app-nav-bar>

  <div class="home-body">
    <div class="home-content">
      <!--    -->
      <div class="d-flex flex-wrap justify-content-between align-item-center mt-3">
        <h4 class="home-subtitle">Gastos $ {{sumTotalPriceByPage?sumTotalPriceByPage: ("0.00")}} de <span>$
            {{sumTotalPrice}}</span> </h4>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="navigation">
          
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa-solid fa-house"></i></li>
                <li class="breadcrumb-item"><a  [routerLink]="['/']"  class="home">Inicio</a></li>
                <li class="breadcrumb-item">></li>
                <li class="breadcrumb-item active" aria-current="page">Administrar gastos</li>
              </ol>
            </nav>
    
      </div>

      <div style="background-color: white" class="content-main  p-3">

          <button class="btn btn-primary" type="button" (click)="openModal()">
          Nuevo Gasto
         
        </button>
        <app-filter-attendance [typeModel]="typeModel"></app-filter-attendance>

        <app-list-expenses (sumaTotalByPage)="updatesumaTotalByPage($event)"></app-list-expenses>
      </div>

    </div>
  </div>
</section>

<app-direct-access></app-direct-access>