<app-side-bar class="nav-component" [ngClass]="{ close: flagClose, '': !flagClose }" [open]="flagClose"></app-side-bar>

<section class="home-section">
  <app-nav-bar (newItemEvent)="onClickMenu($event)"></app-nav-bar>

  <div class="home-body">
    <div class="home-content p-3 border border-2">
      <!--    -->
      <div class="d-flex flex-wrap justify-content-between align-item-center">
        <h4 class="home-subtitle">Home Main</h4>
        <!-- <button class="btn btn-outline-primary d-flex align-items-center" (click)="openModal()">
            <i class="bx bx-user-plus" style="color:royalblue"> </i> <span class="ms-1">Nuevo Cliente</span>
          </button> -->
      </div>

      <div class="grid-container">
        <div  *ngFor="let item of listData"   class="grid-container__item card">
          <div class="">
            <img src="../../../../../assets/gym.jpeg" class="img-fluid" />
          </div>
          <h4 class="mt-2 mb-1">{{item.title}}</h4>
          <p class="paragraph my-0"><span> <i class="bx bx-grid-alt" style="font-size: 15px;"></i></span>: {{item.count}} registros
          </p>
        
          <button  class="btn btn-primary mt-2" [routerLink]="[item.url]">Ver</button>
        </div>
      </div>

    </div>
  </div>
</section>

<app-direct-access></app-direct-access>