<form>
    <div class="row container-data m-0 row-cols-1  row-cols-sm-2">
  
      <!--  -->
      <div class="col">
        <label>Membresia</label>
      </div>
      <div class="col bg-success">
        <input class="form-control" value="12458451245" />
      </div>
  
      <!--  -->
      <div class="col">
          <label>Nombres</label>
        </div>
        <div class="col">
          <input class="form-control" value="Ronny Chamba" />
        </div>
        <!--  -->
  
        <div class="col">
          <label>Email</label>
        </div>
        <div class="col">
          <input class="form-control" value="ronnychamba@gmail.com" />
        </div>
        <!--  -->
  
        <div class="col">
          <label>T&eacute;lefono</label>
        </div>
        <div class="col">
          <input class="form-control" value="0981806210" />
        </div>
        <!--  -->
        <div class="col">
          <label>Fecha nacimiento</label>
        </div>
        <div class="col">
          <input class="form-control" value="22-04-1996" />
        </div>
  
  <!--  -->
        <div class="col">
          <label>Direcci&oacute;n</label>
        </div>
        <div class="col">
          <input class="form-control" value="Santo Domingo" />
        </div>
    </div>
  </form>
  
