<form>
  <div class="row m-0 row-cols-1 row-cols-sm-2 mb-3">
    <!--  -->
    <div class="col-sm-3">
      <label>Membresia</label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" value="12458451245" />
    </div>
  </div>

  <div class="row m-0  row-cols-1 row-cols-sm-2 mb-3">
    <!--  -->
    <div class="col-sm-3">
      <label>Membresia</label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" value="12458451245" />
    </div>
  </div>
  <div class="row m-0  row-cols-1 row-cols-sm-2 mb-3">
    <!--  -->
    <div class="col-sm-3">
      <label>Membresia</label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" value="12458451245" />
    </div>
  </div>
  <div class="row m-0  row-cols-1 row-cols-sm-2 mb-3">
    <!--  -->
    <div class="col-sm-3">
      <label>Membresia</label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" value="12458451245" />
    </div>
  </div>
  <div class="row m-0  row-cols-1 row-cols-sm-2 mb-3">
    <!--  -->
    <div class="col-sm-3">
      <label>Membresia</label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" value="12458451245" />
    </div>
  </div>
  <div class="row m-0  row-cols-1 row-cols-sm-2 mb-3">
    <!--  -->
    <div class="col-sm-3">
      <label>Membresia</label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" value="12458451245" />
    </div>
  </div>
  <div class="row m-0  row-cols-1 row-cols-sm-2 mb-3">
    <!--  -->
    <div class="col-sm-3">
      <label>Membresia</label>
    </div>
    <div class="col-sm-9">
      <input class="form-control" value="12458451245" />
    </div>
  </div>

  

  
</form>
