<app-nab-side-bar
  class="nav-component"
  [ngClass]="{ close: flagClose, '': !flagClose }"
  [open]="flagClose"
></app-nab-side-bar>

<section class="home-section">
  <div class="home-header d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <i class="bx bx-menu" (click)="onClickMenu()"></i>
      <span class="text">ENER GYM</span>
    </div>

    <div class="d-flex align-items-center">
      <img src="../../../../assets/gym.jpeg" alt class="profile" />
      <span>Juan Santoas</span>
    </div>
  </div>

  <div class="home-body mt-3">
    <div class="home-content p-4 border border-2">
      <!--  -->

      <!--  -->
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <h3 class="home-subtitle">Categorias</h3>
        </div>

        <div class="col-md-6 mt-3 mt-md-0">
          <div class="d-flex flex-wrap  flex-md-nowrap justify-content-between align-items-start ">
            <div class="mb-3 me-sm-2  flex-grow-1">
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Nueva Categoria"
              />
            </div>

            <button
              class=" text-center btn btn-outline-primary d-flex align-items-center flex-grow-1 flex-md-grow-0"
            >
              <i class="bx bx-user-plus" style="color: royalblue"> </i>
              <span class="ms-1">Guardar</span>
            </button>
          </div>
        </div>
      </div>

      <!--  -->
      <div class="row justify-content-between align-items-center mt-4">
        <div class="d-flex  align-items-center col">
          <span> Mostrar</span>
          <select class="form-select mx-3" style="max-width: 100px">
            <option selected>5</option>
            <option>10</option>
            <option>20</option>
          </select>
          <span> registros</span>
        </div>

        <div class="col-md-6 mt-3 mt-md-0">
          <input
            type="search"
            placeholder="Buscar Categoria"
            class="form-control col-md-2"
          />
        </div>
      </div>
      <!--  -->

      <!-- <app-list-customer></app-list-customer> -->

      <app-list-category></app-list-category>
    </div>
  </div>
</section>
