<div class="information bg-info p-2">
  <div class="information-header">
    <ul class="d-flex p-0" style="list-style-type: none">
      <li class="me-2  ">
        <button (click)="changePanel('DATA')" class="btn btn-primary">
          Datos
        </button>
      </li>



      <li class="me-2">
        <button (click)="changePanel('DAILY')" class="btn btn-primary">
          Registro Diario
        </button>
      </li>
      
      <li >
        <button (click)="changePanel('MONTH')" class="btn btn-primary">
          Membresias
        </button>
      </li> 
      <li >
        <button (click)="changePanel('MONTH')" class="btn btn-primary">
          Rutinas
        </button>
      </li>
    </ul>
  </div>

  <div class="information-body">
    <!-- Aqio viene varios paneles según la opcion seleccionada -->

    <ng-template [ngIf]="flagPanelCustomer == 'DATA'">
      <app-data-customer></app-data-customer>
    </ng-template>

    <ng-template [ngIf]="flagPanelCustomer == 'DAILY'">
      <app-daily-customer></app-daily-customer>
    </ng-template>

    <ng-template [ngIf]="flagPanelCustomer == 'MONTH'">
      <app-invoice-customer></app-invoice-customer>
    </ng-template>
  </div>
</div>
