
<app-side-bar class="nav-component"
[ngClass]="{ close: flagClose, '': !flagClose }"
[open]="flagClose"></app-side-bar>

<section class="home-section">
  
  <app-nav-bar (newItemEvent)="onClickMenu($event)" ></app-nav-bar>
  
  <div class="home-body mt-3">
    <div class="home-content p-4 border border-2">
      <!--    -->
      <div class="d-flex flex-wrap justify-content-between align-item-center">
        <h3 class="home-subtitle">Clientes</h3>
        <button class="btn btn-outline-primary d-flex align-items-center" (click)="openModal()">
          <i class="bx bx-user-plus" style="color:royalblue"> </i> <span class="ms-1">Nuevo Cliente</span>
        </button>
      </div>

      <!--  -->
      <div class="row justify-content-between align-items-center mt-4">
        <div class="d-flex align-items-center col">
          <span> Mostrar</span>
          <select class="form-select mx-3" style="max-width: 100px">
            <option selected>5</option>
            <option>10</option>
            <option>20</option>
          </select>
          <span> registros</span>
        </div>

        <div class="col-md-4 mt-3 mt-md-0">
          <input
            type="search"
            placeholder="Buscar Cliente"
            class="form-control col-md-2"
          />
        </div>
      </div>
      <!--  -->
      
      <app-list-customers></app-list-customers>
    </div>
  </div>
</section>
<app-direct-access></app-direct-access>
