<app-side-bar class="nav-component" [ngClass]="{ close: flagClose, '': !flagClose }" [open]="flagClose"></app-side-bar>

<section class="home-section"  >

  <!-- first component  -->
  <app-nav-bar (newItemEvent)="onClickMenu($event)"></app-nav-bar>
  <!-- second component -->
  <div class="home-body">
    <div class="home-content">
      <!--    -->
      <div class="d-flex flex-wrap justify-content-between align-item-center  mt-3">
        <h4 class="home-subtitle">Administrar clientes</h4>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="navigation">
          
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa-solid fa-house"></i></li>
            <li class="breadcrumb-item"><a  [routerLink]="['/']"  class="home">Inicio</a></li>
            <li class="breadcrumb-item">></li>
            <li class="breadcrumb-item active" aria-current="page">Administrar clientes</li>
          </ol>
        </nav>
  
      </div>

      <div  style="background-color: white" class="content-main  p-3">

        <button class="btn btn-primary" (click)="openModal()">
          Nuevo Cliente
        </button>
      

        <app-filter-attendance [typeModel] = "typeModel"  ></app-filter-attendance>
        <app-list-customers></app-list-customers>
      </div>
    </div>
  </div>
</section>
<app-direct-access></app-direct-access>