.container-btn{
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    
}

button {
    i {
      font-size: 25px;
      cursor: pointer;
      transition: all 0.3s ease;
    }}